@font-face {
    font-family: Product Sans;
    src: url(../fonts/Product Sans Regular.ttf);
}

html,
body {
    background-image: url(../images/shoes.jpeg) no-repeat;
    background-color: #fff;
    height:768px!important;
    font-size: 1rem;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;
    font-weight: 300;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;

}
a{
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;
}
.clear {
    clear: both;
}

img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-bottom: 2px solid #ddd;
}
.form-control:focus {
    color:#d87843;
    border-color: #d87843;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
}

h1,
h2,
h3 {
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    color:#fff;
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;
}
h2 {
    font-size:1.875rem;
    line-height: 3rem;
    margin-bottom: 35px;
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;
}
h3 {
    font-size:1.5rem;
    line-height: 2.5rem;
    margin-bottom:35px;
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;
}
h4 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;
}
h5 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color:#222222;
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;
}
p {
    line-height: 1.375rem;
    font-size: 0.875rem;
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    /*font-family: 'roboto', sans-serif;*/
}
.text {
    color: #333333;
}
.colorstext {
    color: #5e9a28;
}
.coloricon i {
    color: #5e9a28;
}
.colorsbg {
    background: #5e9a28;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.outofsectiontext{
    margin-top: 40px;
}

/*
Section
*/
.sections {
    padding-top:120px;
    padding-bottom: 120px;
    overflow: hidden;
}
.sections.footer {
    height:100px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}

.heading {
    margin-bottom: 4rem;
}

/* Overlay of hero image */
.overlay {
    background-color: rgba(0, 0, 0, 0.418);
    width: 100%;
    height: 750px;
}
.creativity_overlay {
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height:auto;
}
.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}
.overlay-img {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}
.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 2px;
    width: 85px;
    margin: 70px auto;
    background-color: #222222;
}
.whiseparator {
    height: 2px;
    width: 85px;
    margin: 50px auto 40px auto;
    background: #ffffff;
}
.separator2 {
    height: 2px;
    width: 50px;
    margin:30px auto;
    background: #d87843;
}
.separator3 {
    height: 2px;
    width: 30px;
    margin:20px auto;
    background: #5e9a28;
}
.separator4 {
    height: 2px;
    width: 30px;
    margin:20px 0px;
    background: #5e9a28;
}
/*section:nth-of-type(odd) {
    background-color: #F9F9F9;
}*/
/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #5e9a28;
    border-color: #5e9a28;
}



.btn {
    display: inline-block;
    min-width: 230px;
    padding: .4em;
    height: 45px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size: 1.875rem;
    border-radius:0px;
    margin-top: 20px;
    background-color: transparent;
    transition: .5s; 
    border:0px;
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;

}
.btn:hover {
    background-color:#d87843;
    color: #fff;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #639d2f;
    border-color: #fff;
    transition: .5s;	
}

.btn_news_color{
    color:#5e9a28;
    border-color: #5e9a28;
}

.btn-md{
    border: 2px solid #000;
    color: #222;
    padding: 0.4rem 2rem;
    height: 60px;
}
.btn-sm{
    border: 2px solid #000;
    color: #222;
    padding: 0.4rem 2rem;
    height: 60px;
    min-width:185px;
}


.btn-larg{
    border: 2px solid #fff;
    color:#fff;
    padding: 2rem 3rem;
    max-width:430px;
    height: 100px
}





/*.btn-default:active, .btn-default:hover  {
    background: transparent;
}*/


/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-110 {
    margin-top: 110px;
}
.margin-top-120 {
    margin-top: 120px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #5e9a28;
    font-weight: 400;
}


/*for image bg*/


/*.img-bg{
  background: url(../images/shoes.jpeg) no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/
/* navbar section */

.form-control::-moz-placeholder{
    color: #676767;
    opacity: 1;
}
.form-control:-moz-placeholder{
    color: #676767;
    opacity: 1;  
}  
.form-control::-webkit-input-placeholder{
    color: #676767;
    opacity: 1; 
} 
.form-control:-ms-input-placeholder{
    color: #676767;
    opacity: 1; 
}

/*home section*/
.home{
    background: url(../images/shoes.jpeg) no-repeat 100% 100%;
    background-size: cover;
    position: relative;
}

.home .main_home{
    padding-top: 250px;
}

.home .main_home h1{
    color: #fff;
}
.home .main_home p.subtitle{
    color: #fff;
    padding-bottom: 25px;
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;
    font-size:1.375rem;
    max-width:65%;
    margin:0 auto;
    line-height: 2rem;
}

.home .owl-theme .owl-nav {
    margin-top: 80px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot span {
    background: #fff;
    border-radius:0px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #d87843;
}

@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.mouse-scroll {
	position: absolute;
	left:48%;
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7F8C8D;
	color: #FFF;
	font-family: 'Product Sans', 'Futura', Helvetica, Arial;
	letter-spacing: 2px;
	margin-top: 10%;
	text-decoration: none;
    overflow: hidden;
    pointer:none;
}
.mouse-scroll .mouse {
  position: relative;
  display: block;
  width: 46px;
  height: 73px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #FFF;
  border-radius: 23px;
  pointer:none;
}
.mouse-scroll .mouse .mouse-movement {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #FFF;
  border-radius: 50%;
  -webkit-animation: scroll-ani 4s linear infinite;
  -moz-animation: scroll-ani 4s linear infinite;
  animation: scroll-ani 4s linear infinite;
  pointer:none;
}
.mouse-scroll .mouse-message {
  float: left;
  margin: -200px 0 0 7px;
  padding: 0;
  -webkit-animation: scroll-ani 4s linear infinite;
  -moz-animation: scroll-ani 4s linear infinite;
  animation: scroll-ani 4s linear infinite;
  pointer:none;
}
.mouse-scroll:hover .mouse-message {
  margin-top: 0;
  pointer:none;
}

/* LinkedIn Button */

.funbutton {
    border: 2.3px solid black;
    width:310px;
    background-color:white!important;
}

.funbutton:hover {
    font-style: unset;
    text-decoration: none;
    
}

.funbutton p {
    padding-top:20px;
    padding-bottom:20px;
    font-size:18px!important;
    line-break: auto;
    white-space: nowrap;
}

.funbutton a {
    text-decoration: none;
    color:black;
}

/* Pure Creativity Button */

.funbutton2 {
    border: 2.3px solid white;
    width:310px;
    background-color:transparent;
}

.funbutton2:hover {
    cursor: auto;
}

.funbutton2 p {
    padding-top:20px;
    padding-bottom:20px;
    font-size:18px!important;
    line-break: auto;
    color:white;
    white-space: nowrap;
}

/*introduction section css*/

.head_title{
    /*    margin-bottom:60px;*/
}
.head_title h2{
    font-size:1.625rem;
    color:#222222;

}
.head_title p{
    font-size:1.375rem;
    color:#222222;
    line-height: 2rem;
    width:75%;
    margin:0 auto;
	font-family: 'Product Sans', 'Futura', Helvetica, Arial;
}
.introduction{}

/*creativity section css*/
.creativity{
    background: url(../images/pants.jpg) no-repeat top center;
    background-size: cover;
}
.main_creativity{
    margin:200px auto;
}

/*creativity2 section css*/
.creativity2{
    background: url(../images/shirt.jpg) no-repeat center;
    background-size: cover;
}
.main_creativity2{
    margin:200px auto;
}
/*main_portfolio_content_area*/


.main_mixi_content{
    max-height: 900px;

}
.main_mix_menu{
    margin-bottom:50px;
}
.main_mix_menu ul li{
    width:150px;
    height:35px;
    padding: .2rem;
    display: inline-block;
    font-size:1.125rem;
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;
    background-color: transparent;
    transition: .5s;
    color: #222;
	cursor:pointer;
}

.main_mix_menu ul li.active {
    color:#222;
    font-family: 'Product Sans', 'Futura', Helvetica, Arial;
}



.single_mixi_portfolio{
    position:relative;
    float: left;
    width:100%;
    margin-bottom:20px;
}
.single_mixi_portfolio img{
    width:100%;
    height:auto;
}
.single_mixi_portfolio:hover .mixi_portfolio_overlay{
    opacity:1;
}
.mixi_portfolio_overlay {
    background: rgba(12, 38, 51, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    opacity: 0;
    border: 10px solid #000000;
}
.mixi_portfolio_overlay .overflow_hover_text{
    position: absolute;
    top: 40%;
    left: 13%;
    width: 75%;
}
.mixi_portfolio_overlay .overflow_hover_text i{
    color:#223d61;
    font-size: 40px;
}
.mixi_portfolio_overlay .overflow_hover_text h2{
    color:#fff;
    font-size:1.125rem;
    margin-bottom: 0px;
}
.mixi_portfolio_overlay .overflow_hover_text p{
    color:#fff;
    font-size:1.5rem;
}


.mixcontent .mix{
    display: none;
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 50% 0;
}

.portfolio_btn_area{
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
    display: inline-block;
}
.portfolio_btn_area a{}

/*section css*/
.heretohelp{
    background: url(../images/woods.jpeg) no-repeat top center;
    background-size: cover;
}

.main_heretohelp{}


/*Our clients logo css*/
.client{
    background: #f4f4f4;
}
.client .single_client_logo{
    margin-bottom:20px;
    padding: 5px;
    overflow: hidden;
}

.client .single_client_logo a img{
    width: 100%;
    float: left;
    padding: 1px;
    opacity: 0.5;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: all 0.6s;
}
.client .single_client_logo a:hover img{
    opacity: 1;
    filter:none;
    -webkit-filter: grayscale(0%);
}

/*team section css*/
.team{}



.team .single_item{
    position: relative;
    max-width: 100%;
    margin-bottom:30px;
}
.team .single_item img{
    width: 100%;
    opacity: 0.5;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: all 0.6s;
}
.team .single_item:hover img{
    opacity:1; 
    filter: none;
    -webkit-filter: grayscale(0%);
    transform: scale(1.1);
}
.team .single_item:hover .single_team_overlay{
    opacity: 1; 
}

.team .single_item .single_team_overlay{
    background: rgba(94, 154, 40, 0.55);
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    text-align: center;
    padding: 50px 0px 10px 0px;
    transition: .6s;
    opacity: 0;
}
.team .single_item .single_team_overlay h4{
    color:#fff;
}
.team .single_item .single_team_overlay p{
    color:#fff;
}
.team .single_item .single_team_overlay .team_socail{
    position: absolute;
    right:10px;
    top:10px;
}
.team .s_t_overlay_text{
    position: absolute;
    bottom: 5%;
    left: 30%;
}

.team .single_item .single_team_overlay .team_socail a i{
    color:#fff;
    font-size:1rem;
    padding: 0px 5px;
    float:right;
    top:0;
	border:2px solid #fff;
	border-radius:50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.team .about_apply{
    background: #fff;
    border:2px solid #222;
    width:100%;
    height: 350px;

}
.team .single_team_right{
    padding:75px 20px;
}
.team .single_team_right .separator{
    margin:20px auto;
}
.team .about_apply h4{
    color: #222;
}
.team .about_apply a{
    color: #222;
    border:2px solid #222;
    min-width:90%;
    height: 65px;
}

/*lessons section css*/
.choose{}
.owl-carousel .owl-item img{
    display: inline-block;
    max-width: 100%;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: black;
}
.main_choose_area{
    color:#222;
}

.choose .main_choose_content{}
.choose .main_choose_content .single_choose_item{
    margin-bottom:30px;
}
.choose .main_choose_content .single_choose_item .single_choose_img{
    height: 150px;
    line-height: 150px;
    margin-bottom:40px;
}
.choose .main_choose_content .single_choose_item .single_choose_text{}




/*quote section css*/
.quote{
    background: url(../images/quotebg.jpg) no-repeat top center;
    background-size: cover;
}

/*contact section css*/
.contact{
    background: #fff;
}

.bloop {
    height:2px;
    background-color: black;
    margin-left:150px;
    margin-right:150px;
}

.contact .main_contact_text_area{
    overflow: hidden;
}
.contact .single_message_right_info{
    padding: 120px 80px;
}
.contact .single_message_right_info ul li a{
    font-style: italic;
    color: #222222;
    margin-bottom: 15px;
    display: inline-block;
	font-size: 1.375rem;
	font-family: 'Product Sans', 'Futura', Helvetica, Arial;
}

.contact .single_message_right_info .socail_bookmark a i{
    color:#222222;
    font-size:1.375rem;
    padding:5px;
    transition: all 0.6s;
}
.contact .single_message_right_info .socail_bookmark a:hover i{
    color:#C21132;
}

.contact .single_contant_left{
    padding: 120px 80px;
}
.contact .single_contant_left .single_contant_left{

}

/* Styling for 'Get In Touch' */

.contact p a {
    color:#696f7c;
}

.contact p a:hover {
    color:#C21132
}


/*Footer & Copyright Section*/
.footer{
    background: #222222;
    height:135px;
}

.main_footer{
    padding:;
}
.copyright_text p{
    color:#aaa79e;
    font-size:14px;
    line-height: 25px;
    max-width: 100%;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 10px;
    color:#C21132;
}



/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #C21132;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}



